@import "../common/styles/event.scss";
@import "../common/styles/common.scss";

.events-container {
    display: flex;
    justify-content: flex-start;
    .add-more{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 1 linear;
        &:hover {
            box-shadow: 10px 5px 5px #DD005D;
        }
        &:active {
            box-shadow: 10px 5px 5px black;
        }
        &_icon {
            font-size: 30px;
        }
    }
}